<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rekkids</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>


  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/collections">Rekkids</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/collections">Collection</a></li>
        <li><a href="/collections/new">Add Rekkid</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            
          <% if (user) { %>
            <a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
          <% } else { %>
            <a href="/auth/google"><i class="glyphicon glyphicon-log-in"></i> Login</a>
          <% } %>
         
        </li>
      </ul>
    </div>
  </nav>

  <table class="table-striped" id="list">
    <thead>
      <tr class="table-striped">
        <th class="text-danger">Title</th>

        <th class="text-danger">Artist</th>
        
        <th class="text-danger">Label</th>

        <th class="text-danger">Year</th>

        <th class="text-danger">When I Got It</th>
        
      </tr>
    </thead>
    <tbody class="bg-danger">
      <% rekkids.forEach(function(r) { %>
        <tr>
          <td><%= r.title %></td>
          <td><%= r.artist %></td>
          <td><%= r.label %></td>
          <td><%= r.yearReleased %></td>
          <td><%= r.yearPurchased %></td>
          <td><a class="btn-warning" href="/collections/<%= r._id %>">Specs!</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

</body>
</html>